/BayatGames
/BayatGames.meta
/Bullet.cs
/Bullet.cs.meta
/CharacterController2D.cs.meta
/Enemy.cs
/Enemy.cs.meta
/Follow.cs
/Follow.cs.meta
/PlayerCombat.cs
/PlayerCombat.cs.meta
/PlayerMovement.cs.meta
/Prefab
/Prefab.meta
/Scenes
/Slippery.physicsMaterial2D.meta
/Test_1.unity
/Test_1.unity.meta
/Test_2_BackgroundAndMechanics.unity
/Test_2_BackgroundAndMechanics.unity.meta
/waitSeconds.cs.meta
/Warped Caves
/Warped Caves.meta
/Weapon.cs
/Weapon.cs.meta
/_Animation
/_Animation.meta
/_Backgrounds
/_Backgrounds.meta